/* место для вашего кода */

ul, ol {
    list-style: none; 
    margin: 0;        
    padding: 0;       
}

.body{
    background-color:white ;

}

.header{
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height:293px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 92px;

    

}

.header__nav{
    display: flex;
    gap: 30px;
    list-style: circle;
}

.header__link{
    width:105px;
    height:148px ;
}

.header__address{
    margin-left:auto;
}

.main{

}

.cover{
    position:relative;
    background-image:url(/images/cover.jpg) ;
    background-size:cover;
    background-repeat: no-repeat;
    height: 757px;
    background-color: rgba(0 0 0 /0.5);
    background-position: center;
}

.cover__h1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left:50px;
  padding-right:50px;
  padding-top: 165px;
  padding-bottom:106px;
  font-family: Raleway;
  font-weight:700 ;
  font-size:100px;
  color:white;
  letter-spacing: 30%;
}

.tebe{
    margin-left:auto;
    margin-right: auto;
}

.nado{
    margin-left:auto;
}
.color{
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 /0.5);
}

.description{
    text-transform: uppercase;
    word-spacing:90%;
    color: white;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 50px;

}

.button{
  border-width: 1px;
  text-transform: uppercase;
  border-color: white;
  outline: none;
  background: none;
  padding: 12px 32px 11px 31px;
  margin: 0;
  font-family: Raleway;
  font-weight: 400;
  font-size:22px;
  letter-spacing: 0;
  color: inherit;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;

}

.lots{
    padding-top: 180px;
    padding-left: 24px;
    padding-right: 24px;


}

.lots__word{
    padding-left: 40px;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
    font-size:40px;

}



.lots__link{
    display:flex;
    flex-wrap: wrap;
    gap:25px;
    flex-direction:row;

}
.lots__card-list-item{
    width: 334px;
    min-height: 596px;
}

.height{
    display: block;
    width: 100%;
    position:relative;
    background-image:url(/images/card-lot-01.jpg) ;
    background-size:cover;
    background-repeat:no-repeat;
    height: 100%;
    background-color: rgba(0 0 0 /0.5);
    background-position:center;
}

.heightt{
    display: block;
    width: 100%;
    position:relative;
    background-image:url(/images/card-lot-02.jpg) ;
    background-size:cover;
    background-repeat:no-repeat;
    height: 100%;
    background-color: rgba(0 0 0 /0.5);
    background-position: center;
}

.heighttt{
    display: block;
    width: 100%;
    position:relative;
    background-image:url(/images/card-lot-03.jpg) ;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    background-color: rgba(0 0 0 /0.5);
    background-position:center;
}

.name__lot{
    font-family: Raleway;
    font-size: 22px;
    font-weight:700 ;
    text-transform:uppercase ;
    line-height:130% ;
    color:white;
    text-decoration: underline;
}
.lot_about{
    font-family: Raleway;
    font-size: 20px;
    font-weight:400 ;
    line-height:120% ;
    color:white;
    margin-top: auto;
}

.padla{
    padding:48px 40px;
    display: flex;
    flex-direction: column;
    height: 596px;
}
.under__lots{
    padding-left:40px;
    font-family: Raleway;
    font-size:20px;
    font-weight: 400;

}
.about{
    display:grid ;
    grid-template-columns: 334px 1fr;
    padding-bottom: 180px;
    padding-top: 120px;
    padding-left: 24px;
    padding-right: 24px;

}

.logo{
    margin-top: 36px;
    margin-left:47px;
    width:240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}
.logos{
    margin-top:63px;
    margin-left:46px;
    background-image: url(/images/logo-white.svg);
    width: 148px;
    height: 114px;
}
.about__lots{
    display: grid;
    grid-template-rows: min-content, 1fr;
    margin-top: 136px;
    margin-bottom:13px;


}

.about__lots__word{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.about__paragraph{
    

}

.about__text{

}
.footer{
    margin-left:50px;
    margin-right: 50px;
    margin-bottom:82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.footer__address{

}

.footer__nav{

}

.footer__ul{

}